# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django==1.11.29
-e git+https://github.com/KristianOellegaard/django-hvad.git@0e2101f15404eaf9611cd6cf843bfc424117b227#egg=hvad
Pillow==1.7.8
South==0.8.4

django-filer==0.9.5

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
Fabric
django-development-fabfile
django-libs
factory-boy
mock
django-nose
coverage
django-coverage
ipython
ipdb
