# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django==1.4.3
django-hvad==0.3
Pillow==1.7.8
South==0.8.1

django-cms==2.3.5
django-mptt==0.5.2
django-sekizai==0.6.1
easy-thumbnails==1.1
django-filer==0.9.3
cmsplugin-filer==0.9.2

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
Fabric
django-development-fabfile
django-libs
factory-boy
mock
django-nose
coverage
django-coverage
ipython
ipdb
